build/
Debug/
Release/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

*.o
*.elf
*.bin
*.hex
*.map

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json